In [2]:
import pandas as pd
import time
import numpy as np

In [3]:
csvfile = '../clean_data/cleaned_get_it_done_closed_potholes.csv'
df = pd.read_csv(csvfile)

df = df.drop(['address', 'sap_notification_number', 'sap_problem_code', 'service_subtype', 'source', \
            'referred_email_update', 'referral_email', 'functional_location', 'description', \
            'agency_responsible' , 'sap_problem_category', 'case_record_type', 'updated_datetime',\
            'service_request_id', 'parent_case_number'], axis = 1)

In [10]:
#drop all potholes 
#df = df.drop(df[df.sap_problem_type != 'Pothole'].index)

#drop all NaNs for Long and Lat
df = df.dropna(subset = ['long'])
df = df.dropna(subset = ['lat'])

#drop all non-active potholes
df = df.drop(df[df.status_description == 'Duplicate'].index)
df = df.drop(df[df.status_description== 'Closed'].index)
df = df.drop(df[df.status_description=='Closed - Referred'].index)

#Drop all values that are open
df = df.dropna(subset = ['closed_date'])

In [16]:
neighborhoods = np.zeros((len(df['lat']),1))
df['Neighborhood'] = neighborhoods

,Unnamed: 0,status_description,mobile_web_status,duplicate_verified,override_duplicate,requested_datetime,closed_date,open,closed,service_name,coordinates,lat,long,sap_problem_type,Neighborhood
0,375,Closed,Closed,0,0,2017-05-22T22:31:00,2017-05-23T08:41:00,0,1,Pothole,32.751491-117.132034,32.751491,-117.132034,Pothole,0.0
1,2225,Closed,Closed,1,0,2017-05-18T09:40:00,2017-05-23T00:03:00,0,1,Pothole,32.9117288178129-117.13295624871824,32.911729,-117.132956,Pothole,0.0
2,2795,Closed,Closed,1,0,2017-05-17T10:58:00,2017-05-18T00:02:00,0,1,Pothole,32.89713606866776-117.1233868645065,32.897136,-117.123387,Pothole,0.0
3,3603,Closed,Closed,1,0,2017-05-15T18:08:00,2017-05-18T00:02:00,0,1,Pothole,32.7308404-117.16946940000003,32.730840,-117.169469,Pothole,0.0
4,4002,Closed,Closed,1,0,2017-05-14T22:16:00,2017-05-23T00:03:00,0,1,Pothole,32.81285686089853-117.2147872519717,32.812857,-117.214787,Pothole,0.0
5,4221,Closed,Closed,1,0,2017-05-13T20:36:00,2017-05-17T00:02:00,0,1,Pothole,32.871753570301856-117.23384051246643,32.871754,-117.233841,Pothole,0.0
6,4333,Closed,Closed,0,1,2017-05-13T13:49:00,2017-05-18T00:02:00,0,1,Pothole,32.79156512118205-117.254872787853,32.791565,-117.254873,Pothole,0.0
7,4695,Closed,Closed,0,0,2017-05-12T13:51:00,2017-05-23T00:03:00,0,1,Pothole,32.74505846600714-117.19936876220703,32.745058,-117.199369,Pothole,0.0
8,4883,Closed,Closed,0,1,2017-05-12T07:14:00,2017-05-23T00:03:00,0,1,Pothole,32.80806317928509-117.2108366993416,32.808063,-117.210837,Pothole,0.0
9,4886,Closed,Closed,0,1,2017-05-12T07:09:00,2017-05-23T00:03:00,0,1,Pothole,32.808604734049-117.2111466621209,32.808605,-117.211147,Pothole,0.0
10,4970,Closed,Closed,1,0,2017-05-11T19:46:00,2017-05-23T00:03:00,0,1,Pothole,32.836063-117.205021,32.836063,-117.205021,Pothole,0.0
11,5104,Closed,Closed,0,0,2017-05-11T14:39:00,2017-05-18T00:02:00,0,1,Pothole,32.720832852987805-117.22939652647972,32.720833,-117.229397,Pothole,0.0
12,5296,Closed,Closed,0,0,2017-05-11T09:40:00,2017-05-23T00:03:00,0,1,Other,32.753471-117.203253,32.753471,-117.203253,Pothole,0.0
13,5330,Closed,Closed,0,1,2017-05-11T08:58:00,2017-05-23T00:03:00,0,1,Pothole,32.753596-117.203168,32.753596,-117.203168,Pothole,0.0
14,5331,Closed,Closed,1,0,2017-05-11T08:57:00,2017-05-23T00:03:00,0,1,Pothole,32.75363474621694-117.2030982748766,32.753635,-117.203098,Pothole,0.0
15,5332,Closed,Closed,1,0,2017-05-11T08:57:00,2017-05-23T00:03:00,0,1,Pothole,32.753627-117.203127,32.753627,-117.203127,Pothole,0.0
16,5333,Closed,Closed,0,1,2017-05-11T08:56:00,2017-05-23T00:03:00,0,1,Pothole,32.75358726273547-117.2031298746515,32.753587,-117.203130,Pothole,0.0
17,5392,Closed,Closed,1,0,2017-05-10T23:49:00,2017-05-16T00:03:00,0,1,Pothole,32.84780329999999-117.26714930000003,32.847803,-117.267149,Pothole,0.0
18,5727,Closed,Closed,1,0,2017-05-10T12:26:00,2017-05-17T00:02:00,0,1,Pothole,32.75466-117.076662,32.754660,-117.076662,Pothole,0.0
19,5818,Closed,Closed,0,0,2017-05-10T09:59:00,2017-05-17T00:02:00,0,1,Pothole,32.69367654974099-117.14078407707737,32.693677,-117.140784,Pothole,0.0
20,5819,Closed,Closed,1,0,2017-05-10T09:58:00,2017-05-18T00:02:00,0,1,Pothole,32.73077307136221-117.23479771057214,32.730773,-117.234798,Pothole,0.0
21,5836,Closed,Closed,0,0,2017-05-10T09:34:00,2017-05-17T00:02:00,0,1,Pothole,32.580115490435766-117.09704118885897,32.580115,-117.097041,Pothole,0.0
22,5917,Closed,Closed,0,0,2017-05-10T07:19:00,2017-05-17T00:02:00,0,1,Pothole,32.68920109999999-117.0459386,32.689201,-117.045939,Pothole,0.0
23,5938,Closed,Closed,0,0,2017-05-09T23:25:00,2017-05-16T00:03:00,0,1,Pothole,32.84780329999999-117.26714930000003,32.847803,-117.267149,Pothole,0.0
24,5948,Closed,Closed,1,0,2017-05-09T21:22:00,2017-05-13T00:02:00,0,1,Pothole,32.70943363132481-117.1546201823942,32.709434,-117.154620,Pothole,0.0
25,6003,Closed,Closed,1,0,2017-05-09T18:04:00,2017-05-23T00:03:00,0,1,Pothole,32.91616674593521-117.15625493450165,32.916167,-117.156255,Pothole,0.0
26,6077,Closed,Closed,0,0,2017-05-09T16:30:00,2017-05-23T00:03:00,0,1,Pothole,32.80607024120892-117.213257,32.806070,-117.213257,Pothole,0.0
27,6083,Closed,Closed,0,0,2017-05-09T16:25:00,2017-05-23T00:03:00,0,1,Pothole,32.8147552-117.21517130000001,32.814755,-117.215171,Pothole,0.0
28,6125,Closed,Closed,1,0,2017-05-09T15:17:00,2017-05-17T00:02:00,0,1,Pothole,32.69383429963239-117.1330032738506,32.693834,-117.133003,Pothole,0.0
29,6201,Closed,Closed,0,1,2017-05-09T12:38:00,2017-05-13T00:02:00,0,1,Pothole,32.70940705598562-117.15464598518776,32.709407,-117.154646,Pothole,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16616,100686,Closed,Closed,0,0,2016-05-22T17:46:00,2016-06-23T00:04:00,0,1,Pothole,32.9905683-117.0764229,32.990568,-117.076423,Pothole,0.0
16617,100690,Closed,Closed,0,0,2016-05-22T16:41:00,2017-04-20T12:05:00,0,1,Pothole,34.5434256-99.4214193,34.543426,-99.421419,Pothole,0.0
16618,100691,Closed,Closed,0,1,2016-05-22T16:39:00,2017-04-20T12:05:00,0,1,Pothole,32.750069456888774-117.15789315890008,32.750069,-117.157893,Pothole,0.0
16619,100692,Closed,Closed,0,0,2016-05-22T16:37:00,2016-09-27T00:03:00,0,1,Pothole,32.73598378639865-117.17603933776803,32.735984,-117.176039,Pothole,0.0
16620,100693,Closed,Closed,0,1,2016-05-22T16:35:00,2017-03-31T00:03:00,0,1,Pothole,32.75010301474499-117.15744140716474,32.750103,-117.157441,Pothole,0.0
16621,100694,Closed,Closed,0,0,2016-05-22T16:33:00,2016-06-22T00:03:00,0,1,Pothole,32.738957761773555-117.1784994630197,32.738958,-117.178499,Pothole,0.0
16622,100695,Closed,Closed,0,0,2016-05-22T16:29:00,2016-06-21T00:03:00,0,1,Pothole,32.748972829233146-117.16865725597529,32.748973,-117.168657,Pothole,0.0
16623,100696,Closed,Closed,0,1,2016-05-22T16:26:00,2017-02-16T00:02:00,0,1,Pothole,32.7244648404469-117.12273703319504,32.724465,-117.122737,Pothole,0.0
16624,100697,Closed,Closed,0,1,2016-05-22T16:23:00,2017-04-17T18:57:00,0,1,Pothole,32.75185525690414-117.16617307618776,32.751855,-117.166173,Pothole,0.0
16625,100699,Closed,Closed,0,0,2016-05-22T16:08:00,2016-09-27T00:03:00,0,1,Pothole,32.738295903667364-117.1806171128755,32.738296,-117.180617,Pothole,0.0
16626,100700,Closed,Closed,0,0,2016-05-22T15:56:00,2016-09-29T00:03:00,0,1,Pothole,32.7708301-117.0456052,32.770830,-117.045605,Pothole,0.0
16627,100701,Closed,Closed,0,0,2016-05-22T15:54:00,2017-04-19T15:20:00,0,1,Pothole,32.714488-117.129362,32.714488,-117.129362,Pothole,0.0
16628,100703,Closed,Closed,0,1,2016-05-22T15:49:00,2016-06-24T00:02:00,0,1,Pothole,32.720017-117.085912,32.720017,-117.085912,Pothole,0.0
16629,100714,Closed,Closed,0,1,2016-05-22T13:59:00,2016-07-15T00:03:00,0,1,Pothole,32.720017-117.086284,32.720017,-117.086284,Pothole,0.0
16630,100721,Closed,Closed,0,0,2016-05-22T11:49:00,2016-06-16T00:03:00,0,1,Pothole,32.90306239706411-117.1450596080774,32.903062,-117.145060,Pothole,0.0
16631,100723,Closed,Closed,0,0,2016-05-22T11:16:00,2016-06-01T00:03:00,0,1,Pothole,32.851549-117.2570926,32.851549,-117.257093,Pothole,0.0
16632,100725,Closed,Closed,0,0,2016-05-22T10:50:00,2016-06-04T00:02:00,0,1,Pothole,32.9534879439026-117.0981483321446,32.953488,-117.098148,Pothole,0.0
16633,100726,Closed,Closed,0,1,2016-05-22T10:39:00,2016-06-04T00:02:00,0,1,Pothole,32.9913161-117.0362921,32.991316,-117.036292,Pothole,0.0
16634,100728,Closed,Closed,0,0,2016-05-22T10:20:00,2016-06-04T00:02:00,0,1,Pothole,32.946082429590234-117.08790486016846,32.946082,-117.087905,Pothole,0.0
16635,100741,Closed,Closed,0,0,2016-05-22T08:56:00,2017-04-20T12:05:00,0,1,Pothole,32.72034953817047-117.129409024601,32.720350,-117.129409,Pothole,0.0
16636,100743,Closed,Closed,0,0,2016-05-22T08:48:00,2017-04-20T12:05:00,0,1,Pothole,41.2150442-103.3158205,41.215044,-103.315821,Pothole,0.0
16637,100762,Closed,Closed,0,0,2016-05-21T16:10:00,2016-05-27T00:02:00,0,1,Pothole,32.8377014-117.1960496,32.837701,-117.196050,Pothole,0.0
16638,100765,Closed,Closed,0,0,2016-05-21T15:41:00,2016-06-03T00:03:00,0,1,Pothole,32.84319900000001-117.219921,32.843199,-117.219921,Pothole,0.0
16639,100770,Closed,Closed,0,0,2016-05-21T13:44:00,2016-06-07T21:39:00,0,1,Pothole,32.797547-117.243362,32.797547,-117.243362,Pothole,0.0
16640,100789,Closed,Closed,0,0,2016-05-20T16:00:00,2016-05-27T00:02:00,0,1,Pothole,32.90744733004472-117.15443802153197,32.907447,-117.154438,Pothole,0.0
16641,100792,Closed,Closed,0,0,2016-05-20T14:48:00,2016-06-24T00:02:00,0,1,Pothole,33.07666456997811-117.0351308102545,33.076665,-117.035131,Pothole,0.0
16642,100812,Closed,Closed,0,1,2016-05-20T12:26:00,2017-04-29T14:02:00,0,1,Pothole,32.81173512423743-117.20098440319971,32.811735,-117.200984,Pothole,0.0
16643,100815,Closed,Closed,0,0,2016-05-20T11:58:00,2016-06-21T00:03:00,0,1,Pothole,32.7936785020489-117.25461594778027,32.793679,-117.254616,Pothole,0.0
16644,100823,Closed,Closed,0,0,2016-05-20T10:43:00,2016-05-25T22:37:00,0,1,Pothole,32.95591580444838-117.25215208584706,32.955916,-117.252152,Pothole,0.0
16645,100833,Closed,Closed,0,0,2016-05-20T09:31:00,2016-06-07T21:39:00,0,1,Pothole,32.760285624878-117.10479778740407,32.760286,-117.104798,Pothole,0.0

# Vinh : 0-2400
# Lee Anne: 2400 - 4800
# Maggie: 4800-7200
# Jiggy: 7200 - 9600 
# Tim 9600 - 12000

In [20]:
#get neighborhoods of potholes
import geocoder 

#SET THE X AND Y
x = 
y = 
neighborhood = []

for i in range (x,y):
    latitutde = df.iloc[[i]]['lat']
    longitude = df.iloc[[i]]['long']
    time.sleep(.1)
    g = geocoder.google([latitutde, longitude], method = 'reverse').json
    if 'neighborhood' not in g:
         df.ix[i, 'Neighborhood'] = 'NaN'
    else:
        neighb = g['neighborhood']
        df.ix[i, 'Neighborhood'] = neighb
    
# for i in range (1401, len(df['long'])):
#     neighborhood.append('ADD ME')
# df['Neighborhood'] = neighborhood

# NAME THIS AS '../clean_data/0-2500' 
# or whatever you're range was

In [21]:
df.to_csv('../clean_closed_data/')

,Unnamed: 0,status_description,mobile_web_status,duplicate_verified,override_duplicate,requested_datetime,closed_date,open,closed,service_name,coordinates,lat,long,sap_problem_type,Neighborhood
0,1,Acknowledged,In process,0,0,2017-05-23T18:06:00,NaN,1,0,Pothole,32.79153673521502-117.1544678834988,32.791537,-117.154468,Pothole,Birdland
1,54,New,New,0,0,2017-05-23T15:31:00,NaN,1,0,Pothole,32.724165-117.05552499999999,32.724165,-117.055525,Pothole,Encanto
2,60,Acknowledged,In process,0,0,2017-05-23T15:25:00,NaN,1,0,Pothole,32.79042917715904-117.24192641030152,32.790429,-117.241926,Pothole,Pacific Beach
3,78,Acknowledged,In process,0,0,2017-05-23T14:43:00,NaN,1,0,Pothole,32.760451-117.064381,32.760451,-117.064381,Pothole,Mid-City
4,81,New,New,0,0,2017-05-23T14:40:00,NaN,1,0,Pothole,32.758759-117.063192,32.758759,-117.063192,Pothole,Mid-City
5,88,Acknowledged,In process,0,0,2017-05-23T14:17:00,NaN,1,0,Pothole,32.748611-117.079278,32.748611,-117.079278,Pothole,Mid-City
6,116,Acknowledged,In process,0,1,2017-05-23T12:52:00,NaN,1,0,Pothole,32.844727311545895-117.2670286848815,32.844727,-117.267029,Pothole,La Jolla
7,121,Acknowledged,In process,0,0,2017-05-23T12:45:00,NaN,1,0,Pothole,32.74642288029995-117.1482656743188,32.746423,-117.148266,Pothole,Hillcrest
8,125,Acknowledged,In process,0,1,2017-05-23T12:42:00,NaN,1,0,Pothole,32.74642295486662-117.1493714079478,32.746423,-117.149371,Pothole,Hillcrest
9,127,Acknowledged,In process,0,0,2017-05-23T12:38:00,NaN,1,0,Pothole,32.74513698504784-117.1605940669536,32.745137,-117.160594,Pothole,Hillcrest
10,129,Acknowledged,In process,0,1,2017-05-23T12:35:00,NaN,1,0,Pothole,32.74389887231658-117.1675025952208,32.743899,-117.167503,Pothole,0
11,132,Acknowledged,In process,0,0,2017-05-23T12:33:00,NaN,1,0,Pothole,32.74431046567182-117.1675273218352,32.744310,-117.167527,Pothole,Hillcrest
12,162,Acknowledged,In process,0,0,2017-05-23T11:29:00,NaN,1,0,Pothole,32.69444243838484-117.08357930778253,32.694442,-117.083579,Pothole,Valencia Park
13,171,Acknowledged,In process,0,0,2017-05-23T11:18:00,NaN,1,0,Pothole,32.80686925796851-117.1720126672696,32.806869,-117.172013,Pothole,Clairemont Mesa East
14,177,Acknowledged,In process,0,1,2017-05-23T11:10:00,NaN,1,0,Pothole,32.934440275431015-117.06675191864286,32.934440,-117.066752,Pothole,NaN
15,184,Acknowledged,In process,0,0,2017-05-23T10:53:00,NaN,1,0,Pothole,32.73337076775489-117.11800270706021,32.733371,-117.118003,Pothole,North Park
16,189,Acknowledged,In process,0,1,2017-05-23T10:44:00,NaN,1,0,Pothole,32.89418388161146-117.2164741159577,32.894184,-117.216474,Pothole,Sorrento Valley
17,271,Acknowledged,In process,0,1,2017-05-23T08:24:00,NaN,1,0,Pothole,32.72718925683984-117.16665153122693,32.727189,-117.166652,Pothole,Bankers Hill
18,287,Acknowledged,In process,0,1,2017-05-23T07:58:00,NaN,1,0,Pothole,32.912833-117.14364,32.912833,-117.143640,Pothole,Mira Mesa
19,290,Acknowledged,In process,0,1,2017-05-23T07:46:00,NaN,1,0,Pothole,32.755209-117.10081,32.755209,-117.100810,Pothole,0
20,365,Acknowledged,In process,0,0,2017-05-23T00:22:00,NaN,1,0,Pothole,33.012889-117.074083,33.012889,-117.074083,Pothole,0
21,391,Acknowledged,In process,0,0,2017-05-22T21:13:00,NaN,1,0,Pothole,32.7138935-117.13526690000003,32.713893,-117.135267,Pothole,0
22,405,Acknowledged,In process,0,0,2017-05-22T20:06:00,NaN,1,0,Pothole,32.84046659999999-117.27073471097572,32.840467,-117.270735,Pothole,0
23,421,Acknowledged,In process,0,0,2017-05-22T19:20:00,NaN,1,0,Pothole,32.702815-117.114701,32.702815,-117.114701,Pothole,0
24,424,Acknowledged,In process,0,0,2017-05-22T19:14:00,NaN,1,0,Pothole,32.84302652816553-117.2703498882402,32.843027,-117.270350,Pothole,0
25,433,Acknowledged,In process,0,1,2017-05-22T19:04:00,NaN,1,0,Pothole,33.00544124099706-117.0768245683211,33.005441,-117.076825,Pothole,0
26,436,Acknowledged,In process,0,0,2017-05-22T18:53:00,NaN,1,0,Other,32.74953741232278-117.098696546027,32.749537,-117.098697,Pothole,0
27,450,Acknowledged,In process,0,0,2017-05-22T18:27:00,NaN,1,0,Pothole,32.74789-117.237303,32.747890,-117.237303,Pothole,0
28,553,Acknowledged,In process,0,0,2017-05-22T15:16:00,NaN,1,0,Pothole,32.81522513835952-117.2415051610369,32.815225,-117.241505,Pothole,0
29,578,Acknowledged,In process,0,0,2017-05-22T14:43:00,NaN,1,0,Pothole,32.72557041848898-117.15054092254638,32.725570,-117.150541,Pothole,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2544,63080,Assigned,In process,0,0,2016-12-07T13:29:00,NaN,1,0,Pothole,32.79485630118648-117.0283725730896,32.794856,-117.028373,Pothole,0
2545,63316,Assigned,In process,0,0,2016-12-06T15:32:00,NaN,1,0,Pothole,32.9367351993692-117.11053399963379,32.936735,-117.110534,Pothole,0
2546,64295,Assigned,In process,0,0,2016-12-02T09:28:00,NaN,1,0,Pothole,32.7191789-117.234714,32.719179,-117.234714,Pothole,0
2547,64520,Assigned,In process,0,0,2016-12-01T10:01:00,NaN,1,0,Pothole,32.764591-117.119835,32.764591,-117.119835,Pothole,0
2548,65147,Assigned,In process,0,0,2016-11-28T16:19:00,NaN,1,0,Pothole,32.83300254019885-117.15486136878656,32.833003,-117.154861,Pothole,0
2549,65154,Assigned,In process,0,0,2016-11-28T16:08:00,NaN,1,0,Pothole,32.8267594-117.1542287,32.826759,-117.154229,Pothole,0
2550,65539,Assigned,In process,0,0,2016-11-26T12:53:00,NaN,1,0,Pothole,32.93500173840014-117.0886840392995,32.935002,-117.088684,Pothole,0
2551,66330,Assigned,In process,0,0,2016-11-21T08:19:00,NaN,1,0,Pothole,32.756955-117.122217,32.756955,-117.122217,Pothole,0
2552,66822,Assigned,In process,0,0,2016-11-18T10:25:00,NaN,1,0,Pothole,32.832583048650555-117.16385631484985,32.832583,-117.163856,Pothole,0
2553,67165,Assigned,In process,0,0,2016-11-16T15:21:00,NaN,1,0,Pothole,32.84492887236611-117.26726536109925,32.844929,-117.267265,Pothole,0
2554,67186,Assigned,In process,0,0,2016-11-16T14:17:00,NaN,1,0,Pothole,32.792961-117.094348,32.792961,-117.094348,Pothole,0
2555,69840,Assigned,In process,0,0,2016-11-04T09:44:00,NaN,1,0,Pothole,32.8550899-117.2555848,32.855090,-117.255585,Pothole,0
2556,70921,Assigned,In process,0,0,2016-10-30T10:50:00,NaN,1,0,Pothole,32.76452364728704-117.098880125209,32.764524,-117.098880,Pothole,0
2557,71891,Assigned,In process,0,1,2016-10-25T12:28:00,NaN,1,0,Pothole,32.74447315605053-117.0535387034224,32.744473,-117.053539,Pothole,0
2558,72478,Assigned,In process,0,0,2016-10-21T17:31:00,NaN,1,0,Pothole,32.74137309698125-117.25163313491822,32.741373,-117.251633,Pothole,0
2559,73676,Assigned,In process,0,0,2016-10-14T19:56:00,NaN,1,0,Pothole,32.75590449771817-117.22239284439081,32.755904,-117.222393,Pothole,0
2560,73685,Assigned,In process,0,0,2016-10-14T19:16:00,NaN,1,0,Pothole,32.7589748-117.1104124,32.758975,-117.110412,Pothole,0
2561,74205,Assigned,In process,0,0,2016-10-12T10:44:00,NaN,1,0,Pothole,32.91068546333224-117.1551517839332,32.910685,-117.155152,Pothole,0
2562,76245,Acknowledged,In process,1,1,2016-10-01T14:55:00,NaN,1,0,Pothole,32.78012843709192-117.1330131849759,32.780128,-117.133013,Pothole,0
2563,76258,Assigned,In process,0,1,2016-10-01T12:40:00,NaN,1,0,Pothole,32.740168-117.109509,32.740168,-117.109509,Pothole,0
2564,77885,Assigned,In process,0,1,2016-09-23T13:53:00,NaN,1,0,Pothole,32.815382-117.153928,32.815382,-117.153928,Pothole,0
2565,78187,Acknowledged,In process,1,1,2016-09-22T08:43:00,NaN,1,0,Pothole,32.828322-117.087653,32.828322,-117.087653,Pothole,0
2566,79147,Acknowledged,In process,1,1,2016-09-18T08:19:00,NaN,1,0,Pothole,32.780388-117.132709,32.780388,-117.132709,Pothole,0
2567,83117,Assigned,In process,0,0,2016-08-29T00:34:00,NaN,1,0,Pothole,32.75530034386429-117.13513271091071,32.755300,-117.135133,Pothole,0
2568,85987,Assigned,In process,0,0,2016-08-12T09:53:00,NaN,1,0,Pothole,32.9152215-117.14266,32.915222,-117.142660,Pothole,0
2569,91511,Assigned,In process,0,0,2016-07-13T17:47:00,NaN,1,0,Pothole,32.84698291219105-117.2443096620191,32.846983,-117.244310,Pothole,0
2570,92067,Assigned,In process,0,0,2016-07-10T17:08:00,NaN,1,0,Pothole,32.758429-117.113232,32.758429,-117.113232,Pothole,0
2571,92995,Assigned,In process,0,0,2016-07-05T14:01:00,NaN,1,0,Pothole,32.901876-117.158525,32.901876,-117.158525,Pothole,0
2572,94233,Assigned,In process,0,1,2016-06-27T12:37:00,NaN,1,0,Pothole,32.92606398398056-117.25647124565836,32.926064,-117.256471,Pothole,0
2573,100727,Assigned,In process,0,0,2016-05-22T10:33:00,NaN,1,0,Pothole,00,NaN,NaN,Pothole,0

In [315]:
from datetime import datetime
date_format = "%Y-%m-%d %H:%M:%S"

In [316]:
for i in df.index:
    closed_date = str(df['closed_date'][i])
    open_date = str(df['requested_datetime'][i])
    closed_date = closed_date.replace('T',' ')
    open_date = open_date.replace('T',' ')
    df.ix[i, 'closed_date'] = closed_date
    df.ix[i, 'requested_datetime'] = open_date

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

'2017-05-23 08:41:00'

In [327]:
time_list = []

for i in df.index:
    a = datetime.strptime(str(df['closed_date'][i]), date_format)
    b = datetime.strptime(str(df['requested_datetime'][i]), date_format)
    delta = a - b
    hours_seconds = delta.seconds/3600
    hours_days = delta.days * 24
    time_list.append(hours_days + hours_seconds)
df['Duration to Close (Hrs)'] = time_list

In [326]:
a = datetime.strptime(str(df['closed_date'][6125]), date_format)
b = datetime.strptime(str(df['requested_datetime'][6125]), date_format)
delta = a - b
days = delta.minutes
print(a)
print(b)
print(days)

AttributeError: 'datetime.timedelta' object has no attribute 'minutes'

[0, 0, 0, 0, 0, 0, 0, 0, 0]